*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.container{
      margin-inline: 2rem;
      display: grid;
      gap: 1.5rem;
}
.box{
    min-height: 200px;
    background-color: aliceblue;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* margin-bottom: 1.2rem; */
    /* display: grid;
    grid-template-columns: 1 100px;
    grid-template-rows: 3 100px; */
}
.box-1{
    background-color: mediumvioletred ;
}
.box-2{
    background-color: blue;
}
.box-3{
    background-color: maroon;
}
.box-4{
    background-color: chocolate;
}
.box-5{
    background-color: darkcyan;
}
@media (min-width: 720px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .box-1{
        grid-column-start: span 2;
        
    }
     .box-3{
        grid-row-start: span 2;
        
     }
    .box-5{
         grid-column-start: span 2; 
        
    }
}
@media (min-width: 1000px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}